<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>NodeJs crash course</title>
</head>

<body>
   <h1>Home</h1>

   <nav style="display: grid; grid-row: span; width: 500px;">

      <a href="/">Home</a>
      <a href="about">About</a>
      <a href="/create">New Blogs</a>
   </nav>
   <h2>Your path to learning NodeJs</h2>

   <br>

</body>

</html>